<div id="navegacion" prev="../Tema_7/t7_pandas_034.html" next=""></div>

<div class="section-title">Sección 5.5</div>

# Ejercicios

## Ejercicio 1

El fichero [pedidos.csv](./datos/pedidos.csv) recoge los datos de los pedidos de una empresa en su último trimestre. Cada pedido puede tener distintas lineas de pedido, donde cada línea representa un producto.

La información del fichero por columnas es: 
* Número de pedido
* Linea de pedido
* Producto
* Cantidad
* Precio unitario en Euros (separador de decimales = ',')



__a)__ Carga los datos en un DataFrame con la función `read_csv`. 

* El índice del DataFrame ha de ser el número de pedido.
* Para ver las opcciones de la función `read_csv` ejecuta la siguiente celda:

In [36]:
# Sol: 
import pandas as pd
datos=pd.read_csv("pedidos.csv",delimiter="|");

__b)__ Modifica los valores del precio unitario a 0 cuando el valor sea NaN.

In [37]:
# Sol: 
datos["precio"]=datos["precio"].fillna(0);
datos

     Numero_pedido   producto  cantidad  precio  linea_de_pedido
0            10105  S700_2610        31   65,77                3
1            10105  S700_3505        39   81,14                6
2            10105  S700_3962        22  116,19                7
3            10105   S72_3212        25   56,78                8
4            10106   S18_1662        36  146,65               12
..             ...        ...       ...     ...              ...
195          10126  S700_2824        45  102,16                6
196          10127   S12_1108        46   245,2                2
197          10127   S12_3148        46  160,14                3
198          10127   S12_3891        42  193,78                1
199          10127   S12_4473        24  106,65               11

[200 rows x 5 columns]


__c)__ Calcula el número de pedido (o pedidos) que contengan el producto más caro.

In [38]:
# Sol:
import numpy as np
def numberOfDeliveries(datos):
    deliveries=datos["precio"].replace({',': '.'}, regex=True).astype(float);
    max_price=deliveries.max();
    count=0;
    for i,price in enumerate(deliveries):
        if price==max_price:
            count+=datos["cantidad"].iloc[i];
    return count;


print("El número de pedidos que contienen el producto más caro es: "+str(numberOfDeliveries(datos)))

El número de pedidos que contienen el producto más caro es: 29

__d)__ ¿Qué productos aparecen en los pedidos del dataset? Usa `unique`.

In [39]:
# Sol:
import numpy as np
def products(datos):
    products=datos["producto"];
    return np.unique(products);

products(datos).tolist()

['S10_1678',
 'S10_1949',
 'S10_2016',
 'S10_4698',
 'S10_4757',
 'S10_4962',
 'S12_1099',
 'S12_1108',
 'S12_1666',
 'S12_2823',
 'S12_3148',
 'S12_3380',
 'S12_3891',
 'S12_3990',
 'S12_4473',
 'S12_4675',
 'S18_1097',
 'S18_1129',
 'S18_1342',
 'S18_1367',
 'S18_1589',
 'S18_1662',
 'S18_1749',
 'S18_1889',
 'S18_1984',
 'S18_2238',
 'S18_2248',
 'S18_2319',
 'S18_2325',
 'S18_2432',
 'S18_2581',
 'S18_2625',
 'S18_2795',
 'S18_2870',
 'S18_2949',
 'S18_2957',
 'S18_3029',
 'S18_3136',
 'S18_3140',
 'S18_3232',
 'S18_3259',
 'S18_3278',
 'S18_3320',
 'S18_3482',
 'S18_3685',
 'S18_3782',
 'S18_3856',
 'S18_4027',
 'S18_4409',
 'S18_4522',
 'S18_4600',
 'S18_4668',
 'S18_4721',
 'S18_4933',
 'S24_1046',
 'S24_1444',
 'S24_1578',
 'S24_1628',
 'S24_1785',
 'S24_1937',
 'S24_2000',
 'S24_2011',
 'S24_2022',
 'S24_2300',
 'S24_2360',
 'S24_2766',
 'S24_2840',
 'S24_2841',
 'S24_2887',
 'S24_2972',
 'S24_3151',
 'S24_3191',
 'S24_3371',
 'S24_3420',
 'S24_3432',
 'S24_3816',
 'S24_3856',
 'S24_3949',
 'S24_3969',
 'S24_4048',
 'S24_4258',
 'S24_4278',
 'S24_4620',
 'S32_1268',
 'S32_1374',
 'S32_2206',
 'S32_2509',
 'S32_3207',
 'S32_3522',
 'S32_4289',
 'S32_4485',
 'S50_1341',
 'S50_1392',
 'S50_1514',
 'S50_4713',
 'S700_1138',
 'S700_1691',
 'S700_1938',
 'S700_2047',
 'S700_2466',
 'S700_2610',
 'S700_2824',
 'S700_2834',
 'S700_3167',
 'S700_3505',
 'S700_3962',
 'S700_4002',
 'S72_1253',
 'S72_3212']

__e)__ ¿Cúantas veces aparece cada producto en el dataset? Usa `value_counts`.

In [40]:
# Sol:
import numpy as np
def timesAppear(datos):
    products=datos["producto"];
    return products.value_counts();

timesAppear(datos)

producto
S18_3232     3
S700_3505    2
S700_3962    2
S72_3212     2
S700_2610    2
            ..
S700_1938    1
S10_4757     1
S24_3151     1
S24_3816     1
S700_1138    1
Name: count, Length: 109, dtype: int64

__f)__ Crea una nueva columna llamada `total_linea` que sea el importe total de la línea de pedido (precio unitario multiplicado por la cantidad).

In [35]:
# Sol:
datos["total_linea"]=(datos["precio"].replace({',': '.'}, regex=True).astype(float))*datos["cantidad"];
datos

     Numero_pedido   producto  cantidad  precio  linea_de_pedido  total_linea
0            10105  S700_2610        31   65,77                3      2038.87
1            10105  S700_3505        39   81,14                6      3164.46
2            10105  S700_3962        22  116,19                7      2556.18
3            10105   S72_3212        25   56,78                8      1419.50
4            10106   S18_1662        36  146,65               12      5279.40
..             ...        ...       ...     ...              ...          ...
195          10126  S700_2824        45  102,16                6      4597.20
196          10127   S12_1108        46   245,2                2     11279.20
197          10127   S12_3148        46  160,14                3      7366.44
198          10127   S12_3891        42  193,78                1      8138.76
199          10127   S12_4473        24  106,65               11      2559.60

[200 rows x 6 columns]

__g)__ Incrementa el precio de las líneas de pedido un 10% para aquellos productos cuyo precio sea superior a 80 Euros. Para ello crea una nueva columna llamada `Descuento`.

* Crea una función que reciba como parámetro un valor de tipo entero que representa el precio. Si dicho valor es mayor de 80, la función lo devuelve incrementado en un 10%. Si el valor es menor o igual a 80, la función devuelve dicho valor sin cambios. 
* Aplica la función anterior usando  `map` sobre la columna `precio`.

In [11]:
# Sol:
def incrementPrice(price):
    final_price=0;
    if price>80:
        final_price=(price*0.10)+price;
    else:
        final_price=price;

    return final_price;

datos["Descuento"] = datos["precio"].replace({',': '.'}, regex=True).astype(float).map(incrementPrice)
datos

,Numero_pedido,producto,cantidad,precio,linea_de_pedido,total_linea,Descuento
0,10105,S700_2610,31,"65,77",3,2038.87,65.770
1,10105,S700_3505,39,"81,14",6,3164.46,89.254
2,10105,S700_3962,22,"116,19",7,2556.18,127.809
3,10105,S72_3212,25,"56,78",8,1419.50,56.780
4,10106,S18_1662,36,"146,65",12,5279.40,161.315
...,...,...,...,...,...,...,...
195,10126,S700_2824,45,"102,16",6,4597.20,112.376
196,10127,S12_1108,46,"245,2",2,11279.20,269.720
197,10127,S12_3148,46,"160,14",3,7366.44,176.154
198,10127,S12_3891,42,"193,78",1,8138.76,213.158
199,10127,S12_4473,24,"106,65",11,2559.60,117.315